/* universal */
* {
    box-sizing: border-box;
}

body {
    background-color: #F7F7FA;
}



/* navigation */
nav {
    background-color: white;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 5px 20px  #E6E7ED;     /* Puts shadow below the shape */
    z-index: 10;
}


/* section */
section {
    position: relative;
    width: 1130px;
    float: right;
    color: #100d0a;
}

section .id {
    font-family: Montserrat, sans-serif;
    height: 210px;
}

section .id>h1 {
    font-size: 140px;
    color: #E6E7ED;
    line-height: 0;
    display: inline-block;
}

section .id>h2 {
    font-size: 32px;
    color: #E75D77;
    position: relative;
    top: -34px;         /* 100(h1 height) *.5(Mid) -32/2(Half self.fontsize) */
    left: -64px;
    display: inline-block;
}

section .group {
    background-color: white;
    float: right;
    height: 450px;
    width: 1130px;
    padding-top: 28px;
    padding-left: 72px;
    border-top-left-radius: 72px;
    border-bottom-left-radius: 72px;
    margin-bottom: 50px;
    margin-right: -8px;
    box-shadow: 40px 40px 100px  #E6E7ED;     /* Puts shadow below the shape */
    font-family: Montserrat, sans-serif;
}

section .group .box {
    height: 160px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 6px 6px 6px 0;
    position: static;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    border-radius: 16px;
}

section .group .details {
    width: 450px;
    display: inline-block;
    margin: 30px 20px 0 20px;
    font-size: 16px;
}

section .group .details p {
    margin-top: -10px;
    color: #424242;
    font-size: 14px;
    line-height: 20px;
}



/* section.color */
section.color {
    top: 50px;
}

.color .palette h3 {
    text-transform: uppercase;
    font-weight: 500;
}

.color .box table {
    text-align: left;
    text-transform: uppercase;
    position: relative;
    top: 40px;
    font-size: 14px;
}

.color .box td {
    font-size: 11px;
}

.color .main .box.orange {
    background-color: #e7885d;
    width: 518px;
}

.color .main .box.yellow {
    background-color: #e7cd5d;
    width: 264px;
}

.color .main .box.pink {
    color: white;
    background-color: #e75d77;
    width: 135px;
}


.color .grayscale .box {
    width: 179px;
}

.color .grayscale .box.black {
    color: #f7f7fa;
    background-color: #100d0a;
}

.color .grayscale .box.gray {
    color: #f7f7fa;
    background-color: #424242;
}

.color .grayscale .box.cloud {
    background-color: #e6e7ed;
}

.color .grayscale .box.smoke {
    background-color: #f7f7fa;
    border: 2px solid #e6e7ed;
}

.color .grayscale .box.white {
    background-color: #ffffff;
    border: 2px solid #e6e7ed;
}





/* Section Typography */
section.typography {
    position: relative;
}


.typography .font .box {
    padding-left: 0;
}

.font .box.typeface {
    width: 150px;
}

.box.typeface h2 {
    font-size: 64px;
    font-weight: 500;
    line-height: 0;
    margin-top: 48px;
}

.box.typeface h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 0;
    margin-top: -5px;
}

.font .box.headings {
    width: 210px;
    height: 320px;
}

.box.headings h1 {
    font-size: 28px;
}
.box.headings h2 {
    font-size: 24px;
}
.box.headings h3 {
    font-size: 18px;
}
.box.headings h4 {
    font-size: 16px;
}
.box.headings h5 {
    font-size: 14px;
}
.box.headings h6 {
    font-size: 12px;
}


.font .box.article {
    width: 550px;
    height: 320px;
}

.box.article tr th {
    line-height: 40px;
    vertical-align: top;
}

.box.article th {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
    color: #A7A8B9;
    padding-right: 32px;
}

tr.title td h2 {
    font-size: 40px;
    color: #e7cd5d;
    line-height: 0;
    vertical-align: top;
}

tr.subtitle td {
    font-size: 18px;
    font-weight: 500;
    color: #e75d77;
}

tr.paragraph td {
    margin-top: -10px;
    color: #424242;
    font-size: 14px;
    line-height: 20px;
}

tr.blockquote td {
    font-size: 18px;
    font-weight: 500;
    color: #100d0a;
    font-style: italic;
}

tr.hyperlink td {
    margin-top: -10px;
    color: #e75d77;
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
    line-height: 20px;
}

